# Django Setup
SECRET_KEY=super_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
ADMINS=admin_1@example.com,admin_2@example.com
# Database Setup
DATABASE_URL=postgresql://db_user:db_pass@db_host:db_port/db_name
