.graphs {grid-area: graphs}
.header {grid-area: header;}
.filters {grid-area: filters;}
.central-map {grid-area: central-map;}

.dashboard {
  font-family: 'PT Sans', sans-serif;
  display: grid;
  grid-template-columns: 24vw 50vw 24vw;
  grid-template-rows: 5vh 92vh;
  grid-template-areas:
    'header header header'
    'filters central-map graphs';
}

.dashboard > div {
  text-align: center;
}

.ReactTable .rt-tbody {
  overflow: initial;
  overflow-x: hidden!important;
}

.available-info-container{
  height: 40vh;
  width: 24vw;
}
