.dashboard {
  width: 100vw;
  height: 100px;
}

html, body, #root, #root>div {
  width:100% !important;
  height: 100% !important;
}

.ReactTable .rt-tbody {
  overflow: initial;
  overflow-x: hidden!important;
}

.available-info-container{
  height: 40vh;
  width: 24vw;
}
